/* Write your CSS here */
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 8px;
  }
  
  .image {
    height: 30px;
    width: 30px;
  }
  .text {
    font-size: 15px;
  }
  